md-dialog {
  width: 50%;
}

.sideNav .cardUsuario {
  position: relative
}

.sideNav .cardUsuario:after {
  content: "";
  background-image: url(../img/building.png);
  background-position: center;
  background-size: cover;
  background-color: #fff;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.cardUsuario .card-nome {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.010em;
  line-height: 24px;
  color: #000 !important;
  text-shadow: 0px 0px 2px rgba(250, 250, 250, .3);
}

.cardUsuario .card-email {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.020em;
  color: #000 !important;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 130px;
  text-shadow: 0px 0px 2px rgba(250, 250, 250, .3);
}

.cardUsuario .avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 5px solid rgb(250, 250, 250);
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0 15px 0 0;
  vertical-align: middle;
  zoom: 0.5;
  transform: translateZ(0);
}

.sideNav md-list-item.md-no-proxy.md-button,
md-list-item .md-no-style.md-button {
  margin: 0px;
  /*color: gray;*/
}

.main {
  min-height: calc(100vh - 245px);
}

.md-table .md-head tr th {
  text-align: center;
}

.md-table .md-body tr td {
  text-align: center;
}

.md-table .md-body tr:hover {
  background-color: gainsboro;
}

md-toolbar.barra-pesquisa {
  background-color: white;
}

md-toolbar.barra- div md-input-container input {
  color: black;
  margin-top: 50px;
}

.formAssembleia md-datepicker {
  margin-top: 15px;
}

.formAssembleia md-input-container,
md-datepicker {
  margin-left: 5px;
  margin-right: 5px;
}

.topico-padding {
  padding-top: 80px;
}

md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple {
  margin-left: -26px;
  font-size: small;
}