<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <link rel="stylesheet" href="src/css/angular-material.css">
  <link rel="stylesheet" href="src/css/login.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn t work if you view the page via file:// -->
  <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body ng-app="loginApp">

  <div ng-controller="loginCtrl as lg" layout-padding>
    <div layout="row" layout-align="center center">
      <md-card class="boxLogin md-whiteframe-12dp" flex-xs="100" flex-sm="50" flex-md="50" flex-lg="30">
        <md-card-title>
          <md-card-title-text layout-align="center center">
            <span class="md-headline">Amazing Resort</span>
          </md-card-title-text>
        </md-card-title>
        <form name=" formLogin" class="formLogin" novalidate>
          <md-card-content>
            <md-input-container class="md-block">
              <label>Usuário</label>
              <input type="text" name="cpf" ng-model="lg.cpf" mask='999.999.999-99' required>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Senha</label>
              <input type="password" name="senha" ng-model="lg.senha">
            </md-input-container>
          </md-card-content>
          <md-card-actions layout-align="start" layout="column ">
            <md-button class="md-raised md-primary" flex="100 " ng-click="lg.entrar()" ng-disabled="!formLogin.$valid">Entrar</md-button>
            <md-button md-no-ink class="md-primary" ng-click="lg.esqueciSenha()">Esqueci minha senha</md-button>
          </md-card-actions>
        </form>
      </md-card>
    </div>
  </div>

  <script src="src/js/angular.min.js "></script>
  <script src="src/js/angular-aria.min.js "></script>
  <script src="src/js/angular-animate.min.js "></script>
  <script src="src/js/angular-messages.min.js "></script>
  <script src="src/js/angular-resource.min.js "></script>
  <script src="src/js/angular-material.min.js "></script>
  <script src="src/js/ngMask.min.js"></script>
  <script src="modules/app.login.js "></script>
  <script src="services/acessoService.js "></script>
  <script src="controller/loginCtrl.js "></script>
</body>

</html>