<md-content>
    <md-list flex layout-padding>

    <h3>{{fo.topicoAtual}}</h3>

    <md-list-item class="md-3-line md-long-text"  ng-repeat="comentario in fo.listaComentarios"
        ng-click="fo.goState('topico', {'topicoId': topico.id})">
        <img ng-src="{{todos[0].face}}?25" class="md-avatar" alt="{{todos[0].who}}" />
        <div class="md-list-item-text" layout="row">
            <div layout="column" flex>
                <h3>{{comentario.topico.pessoa.nome}}</h3>
                <p>
                    {{comentario.comentario}}
                </p>
            </div>
            <div layout="column" layout-align="end start">
                <p>Data do comentário: {{comentario.data}}</p>
            </div>
        </div>
      </md-list-item>

    </md-list>
</md-content>