<md-content>
  <md-tabs md-dynamic-height md-stretch-tabs="always" md-whiteframe="4" md-selected="ve.selectedIndex" class="md-primary">
    <md-tab label="Buscar" md-whiteframe="4">
      <md-content layout-padding>
        <md-card md-whiteframe="2">

          <md-card-title>
            <!--busca-->
            <md-input-container md-no-float flex>
              <md-icon>
                <i class="material-icons">search</i>
              </md-icon>
              <input ng-model="busca" type="text" placeholder="Buscar veículo...">
            </md-input-container>

            <!--recarrega a tabela-->
            <md-button class="md-icon-button" ng-click="ve.recarregar()">
              <md-tooltip md-direction="left">
                Atualizar
              </md-tooltip>
              <md-icon>
                <i class="material-icons">refresh</i>
              </md-icon>
            </md-button>
          </md-card-title>

          <md-card-content>

            <!--tabela-->
            <md-table-container>
              <table md-table md-progress="ve.loading">
                <thead class="table" md-head md-order="ordenacao">
                  <tr md-row>
                    <th md-column md-order-by="id">#</th>
                    <th md-column md-order-by="pessoa.nome">Morador</th>
                    <th md-column md-order-by="marca">Marca</th>
                    <th md-column md-order-by="placa">Placa</th>
                    <th md-column md-order-by="modelo">Modelo</th>
                    <th md-column md-order-by="ativo">Ativo</th>
                    <th md-column></th>
                  </tr>
                </thead>

                <tbody md-body>
                  <tr md-row ng-repeat="veiculo in ve.veiculos | orderBy: ordenacao | limitTo: ve.option.limite: (ve.option.paginas- 1) * ve.option.limite | filter: busca">
                    <td md-cell>{{veiculo.id}}</td>
                    <td md-cell>{{veiculo.pessoa.nome}}</td>
                    <td md-cell>{{veiculo.marca}}</td>
                    <td md-cell>{{veiculo.placa}}</td>
                    <td md-cell>{{veiculo.modelo}}</td>
                    <td md-cell>
                      <md-checkbox ng-checked="veiculo.ativo"></md-checkbox>
                    </td>
                    <td md-cell>
                      <md-menu>
                        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                          <md-icon>
                            <i class="material-icons">settings</i>
                          </md-icon>
                        </md-button>
                        <md-menu-content width=5>
                          <md-menu-item>
                            <md-button layout-fill ng-click="ve.editar($event, veiculo)">
                              <md-icon>
                                <i class="material-icons">mode_edit</i>
                              </md-icon>
                              Edição
                            </md-button>
                          </md-menu-item>
                          <md-menu-item>
                            <md-button layout-fill class="md-raised md-warn" ng-click="ve.excluir($event, veiculo)">
                              <md-icon>
                                <i class="material-icons">delete_forever</i>
                              </md-icon>
                              Excluir
                            </md-button>
                          </md-menu-item>
                        </md-menu-content>
                      </md-menu>
                    </td>
                  </tr>
                </tbody>
              </table>
              <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'} " md-limit="ve.option.limite" md-limit-options="[5, 10, 15] " md-page="ve.option.paginas" md-total="{{ve.veiculos.length}} " md-page-select>
              </md-table-pagination>
            </md-table-container>

          </md-card-content>
        </md-card>
      </md-content>
    </md-tab>

    <md-tab label="Cadastro / Edição ">
      <md-content layout-padding>

        <!--formulário-->
        <form name="formVeiculo" class="formVeiculo" novalidate>

          <!--veiculo-->
          <md-card md-whiteframe="2">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Veículo</span>
              </md-card-title-text>
            </md-card-title>

            <md-card-content>
              <div layout="column">

                <div layout="row">
                  <md-input-container ng-if="!ve.isEdit" flex>
                    <md-select ng-model="ve.formVeiculo.pessoa" placeholder="Morador (Dono do veículo)" style="min-width: 200px;" flex="50">
                      <md-option ng-repeat="pessoa in ve.pessoas" ng-value="pessoa">{{pessoa.nome}}</md-option>
                    </md-select>
                  </md-input-container>

                  <md-input-container ng-if="ve.isEdit" flex>
                    <label>Morador (Dono do veículo)</label>
                    <md-select ng-model="ve.formVeiculo.pessoa" style="min-width: 200px;" flex="50">
                      <md-select-label>{{ve.formVeiculo.pessoa.nome}}</md-select-label>
                      <md-option ng-repeat="pessoa in ve.pessoas" ng-value="pessoa">{{pessoa.nome}}</md-option>
                    </md-select>
                  </md-input-container>
                  
                  {{pessoa.pessoa.nome}} = {{ve.formVeiculo.pessoa.nome}}
                </div>

                <div layout="row">
                  <md-input-container flex>
                    <label>Placa</label>
                    <input type="text" ng-model="ve.formVeiculo.placa" required>
                  </md-input-container>

                  <md-input-container flex>
                    <label>Marca</label>
                    <input type="text" ng-model="ve.formVeiculo.marca" required>
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-input-container flex>
                    <label>Modelo</label>
                    <input type="text" ng-model="ve.formVeiculo.modelo" required>
                  </md-input-container>

                  <md-input-container flex>
                    <label>Cor</label>
                    <input type="text" ng-model="ve.formVeiculo.cor" required>
                  </md-input-container>
                </div>

                <md-checkbox ng-model="ve.formVeiculo.ativo">Ativo</md-checkbox>
              </div>
            </md-card-content>
          </md-card>

          <div layout="row" layout-align="end end">
            <md-button class="md-raised" ng-click="ve.limpar($event)">Limpar</md-button>
            <md-button class="md-raised md-warn" ng-disabled="ve.formVeiculo.id==null" ng-click="ve.excluir($event, ve.formVeiculo)">Excluir</md-button>
            <md-button class="md-raised md-primary" ng-disabled="!formVeiculo.$valid" ng-click="ve.salvar($event, ve.formVeiculo)">Salvar</md-button>
          </div>
        </form>

      </md-content>
    </md-tab>
  </md-tabs>
</md-content>